	<h1>Contact</h1>
<p> <strong>steven@gmail.com</strong>
</p>

<P>Actuellement étudiant en 3ème année dans une école d'ingénieur en Informatique (Epita), je vous propose des services personnalisés concernant le choix, le montage, l'installation et l'optimisation de votre futur ordinateur de bureau à votre domicile.

Inutile de préciser que les ordinateurs proposés sont bel et bien moins cher que ce que vous pouvez trouver dans le commerce. Le tout en fonction de votre budget et avec un service sur-mesure !

Cet ordinateur sera bien évidemment choisi en fonction de votre budget et sera parfaitement adapté à votre utilisation (bureautique, serveur, gamer, etc...).

Le matériel informatique brut (boitier, alimentation, carte mère, carte graphique GPU, processeur CPU, moniteur, etc...) sera acheté neuf en boutique et sera ensuite monté/installé par mes soins pour vous offrir un service 100% sur-mesure.
Ce service est bien évidemment garantie 6 mois contre tout vice matériel concernant cette main d'oeuvre. La garantie des pièces informatiques s'élève à 2 ans minimum selon le constructeur et est en aucun cas altérée.

N'hésitez plus si vous avez besoin d'un ordinateur adapté à vos besoins pour cette rentrée avec un prix et un service unique en Ile de France.

Les devis, renseignements, questions et conseils sont les bienvenus.

Avec plus d'une vingtaine d'ordinateurs montés durant les deux derniers mois (principalement gamer/haut de gamme), je vous propose un service de qualité et de confiance avant tout.

Service rapide : recevez votre nouveau PC en 48/72H

Trouvez dès à présent l'ordinateur qui vous convient sans vous ruiner.

Exemple de pc : i5 3570k 4670k i7 4770k GTX 780 770 Titan Corsair H110 H100i </P>