<h1>A Propos</h1>
<p>
		Actuellement étudiant en 3ème année dans une école d'ingénieur en Informatique (Epita), je vous propose des services personnalisés concernant le choix, le montage, l'installation et l'optimisation de votre futur ordinateur de bureau à votre domicile.
</p>