
<div class="row">
	<div class="span4">Navigation Bar</div>
	<div class="span8">
		<h1>Welcome to PY CORPORATION</h1>
		<p>
			You are proud to introduce you our new company <%= link_to "google", "http://google.com" %>
		</p>
		<p> <%= link_to "Sign Up Now!", "#" %> </p>
	</div>
</div>