<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>

<div class="row">
	<div class="col-md-2">Navigation Bar</div>
	<div class="col-md-8">
		<h1>Welcome to PY CORPORATION</h1>
		<p>
			You are proud to introduce you our new company <%= link_to "google", "http://google.com" %>
		</p>
		<p class="btn btn-default btn-lg" > <%= link_to "Sign Up Now!", "#" %> </p>
	</div>
</div>
</div>